html,
body {
	font-family: 'Varela Round', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	background-image: url("../public/stars/stars.svg");
	background-size: cover;
	z-index: -1;
	background-color: rgb(5, 3, 3);
}


@media only screen and (min-width: 600px) {
	body {
		background-image: url("../public/stars/starsMD.svg");
	}
  }

  @media only screen and (min-width: 1200px) {
	body {
		background-image: url("../public/stars/starsLG.svg");
	}
  }