@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html,
body {
	font-family: 'Roboto Mono', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
    text-decoration: underline;
	color: inherit;
}


a:visited {
	color: inherit;
  }
